<div class="container">
<h1 class="display-4">Análisis De Datos</h1>

<%=  pie_chart Category.joins(:stores).group('name').count, label: "Cantidad"  %>
<%= bar_chart Store.group(:name).sum(:instagram_like_avg) %>
<%= column_chart Store.group(:category).sum(:instagram_follower_total)%>
</div>